<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <script>
            tailwind.config = {
              theme: {
                extend: {
                  colors: {
                    clifford: '#da373d',
                  }
                }
              }
            }
          </script>
            <style type="text/tailwindcss">
                @layer utilities {
                  .content-auto {
                    content-visibility: auto;
                  }
                }
              </style>
        <h4>Yu-Gi-Oh Validator</h4>
    </head>
    <body>
        <form type="text" action="/home" method="POST" enctype="multipart/form-data" id="deckForm">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                id="edoproButton" name="deckType" value="edopro">
                EDOPro
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                id="duelingbookButton" name="deckType" value="duelingbook" onClick="showDiv">
                Duelingbook
            </button>
            
            <div id="edoproDiv" name="edoproDiv" style="display:none;">
                <label for="decklist">DeckList: </label>
                <textarea id="decklist" name="decklist" form="deckForm"></textarea>
                <input type="submit" value="Submit">
            </div>

            <div id="dbDiv" name="dbDiv" style="display:none;">
                <label for="dbFile">YDK File: </label>
                <input type="file" id="dbFile" name="dbFile">
                <input type="submit" value="Upload">
            </div>
        </form>
        {% if responses %}
        <p>{{content}}</p>
        <ul>
            {% for r in responses %}
            <li>{{r}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if status %}
        <p>{{status}}</p>
        {% endif %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                $('input[type="radio"]').click(function() {
                    var inputValue = $(this).attr("value");
                    console.log(inputValue)
                    if(inputValue === "edopro") {
                        $("#edoproDiv").show();
                        $("#dbDiv").hide();
                    } else if(inputValue === "duelingbook") {
                        $("#edoproDiv").hide();
                        $("#dbDiv").show();
                    }
                });
            });

        showDiv = (event) => {
            console.log(event)
        }
    </script>
</html> 